<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>

  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">

  <link rel="stylesheet" href="/vendor/normalize-4.1.1.css" type="text/css" />
  <link rel="stylesheet" href="/vendor/border-box.css" type="text/css" />
  <link rel="stylesheet" href="/styles/main.css" type="text/css" />
  <link rel="stylesheet" href="/styles/layout.css" type="text/css" />
  <link rel="stylesheet" href="/styles/nav.css" type="text/css" />
  <link rel="stylesheet" href="/styles/menu-item.css" type="text/css" />

  <script type="text/javascript" src="/vendor/jquery-3.0.0.js"></script>
  <script type="text/javascript" src="/scripts/app.js"></script>
</head>
<body>
  <%- include('partials/_nav') %>
  <main class="menu-container">
    <div class="menu-items">
    <% let count = 0; %>
    <% for (let item of items) { %>
      <% count++; %>
    <section class="menu-item">
    <div class="menu-item-details">
      <div class="menu-item-details-left">
        <div class="menu-item-details-left-top">
        <h3 class="menu-item-name"> <%= item.name %> </h3>
        <p class="menu-item-description"> <%= item.description %> </p>
      </div>
      <div class="menu-item-details-left-bottom">
        <output class="menu-item-price" name=<%= item.price %> > $<%= item.price/100 %></output>
        <button class= "menu-button" id="button<%= count %>" > add item +  </button>
      </div>
      </div>
      <div class="menu-item-details-right-picture">
        <img src="/assets/imgs/burger1.jpeg" alt= "<%= item.thumbnail %>" width=100 height=150>
      </div>
    </div>
  </section>
  <% }; %>
</div>
<div id="order-summary">
  <table id="ordered-items" >
    <tr>
      <th> Name </th>
      <th> Quantity </th>
      <th> Price </th>
    </tr>
  </table>
  <div class="order-summary-bottom">
  <table id="order-totals" >

  </table>
<button> place order</button>
</div>
</div>
  </main>
</body>
</html>
